
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: cyan; 
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.card {
  width: 25em;
  height: 39.5em;
  background: #171717;
  transition: 1s ease-in-out;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
}

.img img{
  width: 100%;
  object-fit: cover;
}
.card span {
  font-weight: bold;
  color: cyan;
  text-align: center;
  display: block;
  font-size: 1em;
}

.card .info {
  font-weight: 400;
  line-height: 16px;
  color: cyan;
  display: block;
  text-align: center;
  font-size: 0.80em;
  margin: 1em;
}

.card .img {
  width: 8em;
  height: 8em;
  background: white;
  border-radius: 150rem;
  object-fit: cover;
  overflow: hidden;
  margin: auto;
}

.card .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.card a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.card a:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}

.card button {
  padding: 0.8em 3em;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: transparent;
  color: rgb(0, 0, 0);
  transition: .4s ease-in-out;
}

.card button:hover {
  color: white;
  cursor: pointer;
}

.btn-box {
  padding: 12px 28px;
  background: black;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 cyan;
}